/*
	Copyright: Deux Huit Huit 2014
	License: MIT, see the LICENCE file
*/

/**
 * CSS for entry/reverse relationship field
 */

.field-entry_relationship > label,
.field-reverse_relationship > label {
	position: static;
	margin-bottom: 1rem!important;
}

.field-entry_relationship {
	position: relative; padding-bottom: 0.8rem;
}

.field.field-entry_relationship > .frame,
.field.field-reverse_relationship > .frame {
	margin: 1rem 0;
	background: none;
}

.field.field-entry_relationship > .frame ul,
.field.field-entry_relationship > .frame ol,
.field.field-reverse_relationship > .frame ul,
.field.field-reverse_relationship > .frame ol {
	margin: 0;
}

.field.field-entry_relationship > .frame .frame-header {
	transition: background 0.2s;
}

.field.field-entry_relationship > .frame .ordering .frame-header {
	background: #2f77eb;
}

.field.field-entry_relationship > .frame .ordering * {
	color: #fff;
}

.field.field-entry_relationship > .frame:not(.no-header):not(.empty); {
	border-top: 0;
}

.field.field-entry_relationship > .frame .frame-header.no-content {
	border-bottom: none;
}

.field.field-entry_relationship fieldset.single,
.field.field-reverse_relationship fieldset.single {
	text-align: right;
}

.field.field-entry_relationship fieldset.single > button,
.field.field-reverse_relationship fieldset.single > button {
	margin-right: 0px;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.field.field-entry_relationship fieldset.single > div,
.field.field-reverse_relationship fieldset.single > div {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
	min-width: 250px;
}

.field.field-entry_relationship fieldset.single > div > div,
.field.field-reverse_relationship fieldset.single > div > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
}

.field.field-entry_relationship fieldset.single > div > button,
.field.field-reverse_relationship fieldset.single > div > button {
	margin: 0 0 0 1rem;
}

.field.field-reverse_relationship fieldset.single label {
	margin-bottom: 0!important;
}

.field.field-entry_relationship .destructor a,
.field.field-reverse_relationship .destructor a {
	color: #aeaeae;
	display: inline-block;
	padding: 0 5px;
	border-bottom: none;
}

.field.field-entry_relationship .destructor a:hover {
	color: #3B3D40;
}

.field.field-entry_relationship .destructor a.edit:hover {
	color: #282828;
}

.field.field-entry_relationship .destructor a.unlink:hover,
.field.field-entry_relationship .destructor a.delete:hover,
.field.field-reverse_relationship .destructor a.unlink:hover {
	color: #e90a20;
}

.field.field-entry_relationship .content pre {
	max-height: 300px;
	overflow:auto;
}
.field.field-entry_relationship .content pre code {
	white-space: pre-wrap;
}

.field.field-entry_relationship .sections {
	width: auto;
	margin: 0 0 0 1rem!important;
}

.field.field-entry_relationship select.sections {
	min-width: 100px;
	margin-left: 1rem;
}

.field.field-entry_relationship span.sections-selection {
	margin-left: 1rem;
}

.field.field-entry_relationship input.search {
	width: calc(100% - 1rem);
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.field.field-entry_relationship fieldset.single > div.search {
	display: inline-flex;
	position: relative;
	max-width: 250px;
	min-width: 200px;
}

.field.field-entry_relationship .suggestions {
	width: auto;
	text-align: left;
	left: 1rem;
	right: 0;
	top: 2.5rem;
}


/**
 * CSS for entry relationship field in tab group
 */
.tab-group:nth-child(n + 1) .field.field-entry_relationship .single > div > div {
	justify-content: flex-end;
	margin-bottom: 1rem;
	width: 100%;
}


/**
 * CSS for entry relationship field iframe
 */
#entry-relationship-ctn {
	background-color: rgba(241, 241, 241, 0);
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;

	visibility: collapse;
	opacity: 1;
	pointer-events: none;
	-webkit-transition: background-color 200ms ease-out, visibility 0ms linear 200ms;
	-moz-transition: background-color 200ms ease-out, visibility 0ms linear 200ms;
	-ms-transition: background-color 200ms ease-out, visibility 0ms linear 200ms;
	transition: background-color 200ms ease-out, visibility 0ms linear 200ms;
}

#entry-relationship-ctn.show {
	background: rgba(241, 241, 241, 0.9);
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	cursor: pointer;
	-webkit-transition: background-color 200ms linear 0ms, visibility 0ms linear 0ms;
	-moz-transition: background-color 200ms linear 0ms, visibility 0ms linear 0ms;
	-ms-transition: background-color 200ms linear 0ms, visibility 0ms linear 0ms;
	transition: background-color 200ms linear 0ms, visibility 0ms linear 0ms;
}

#entry-relationship-ctn > .iframe {
	transition: opacity 200ms ease-in;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 100%;
	opacity: 0;
}

#entry-relationship-ctn.show > .iframe {
	opacity: 1;
}

#entry-relationship-ctn.show > .iframe > iframe {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
}

/**
 * CSS for entry relationship field page customization
 */

html.no-scroll {
	overflow: hidden;
}

body.entry_relationship {
	padding-left: 0;
}

body.entry_relationship #contents .actions > *:nth-child(n + 2),
body.entry_relationship .notifier {
	display: none;
}

body.entry_relationship #header,
body.entry_relationship #breadcrumbs nav {
	display: none;
}

body.entry_relationship #context {
	left: 0;
}
