/*
	Copyright: Deux Huit Huit 2014
	License: MIT, see the LICENCE file
*/

/**
 * CSS for entry relationship field
 */
.field.field-entry_relationship {
	
}

.field.field-entry_relationship > .frame {
	margin: 0;
}

.field.field-entry_relationship > .single {
	text-align: right;
}

.field.field-entry_relationship > .single > button {
	margin-right: 0px;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.field.field-entry_relationship > .single > div {
	min-width: 250px;
	display: inline-block;
}

.field.field-entry_relationship .destructor a {
	color: #aeaeae;
	display: inline-block;
	padding: 0 5px;
	border-bottom: none;
}

.field.field-entry_relationship .destructor a.edit:hover {
	color: #282828;
}

.field.field-entry_relationship .destructor a.unlink:hover,
.field.field-entry_relationship .destructor a.delete:hover {
	color: #e90a20;
}

.field.field-entry_relationship .content pre {
	max-height: 300px;
	overflow:auto;
}
.field.field-entry_relationship .content pre code {
	white-space: pre-wrap;
}

.field.field-entry_relationship .sections {
	display: inline-block;
	width: auto;
	margin: 0;
}

.field.field-entry_relationship select.sections {
	min-width: 100px;
}

/**
 * CSS for entry relationship field iframe
 */
#entry-relationship-ctn {
	background-color: #282828;
	background-color: rgba(40, 40, 40, 0);
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	
	visibility: collapse;
	opacity: 1;
	pointer-events: none;
	-webkit-transition: background-color 200ms ease-out, visibility 0ms linear 200ms;
	-moz-transition: background-color 200ms ease-out, visibility 0ms linear 200ms;
	-ms-transition: background-color 200ms ease-out, visibility 0ms linear 200ms;
	transition: background-color 200ms ease-out, visibility 0ms linear 200ms;
}

#entry-relationship-ctn.show {
	background-color: rgba(40, 40, 40, 0.7);
	visibility: visible;
	opacity: 1;
	pointer-events: all;
	-webkit-transition: background-color 200ms linear 0ms, visibility 0ms linear 0ms;
	-moz-transition: background-color 200ms linear 0ms, visibility 0ms linear 0ms;
	-ms-transition: background-color 200ms linear 0ms, visibility 0ms linear 0ms;
	transition: background-color 200ms linear 0ms, visibility 0ms linear 0ms;
}

#entry-relationship-ctn > .iframe {
	opacity: 0.3;
	position: absolute;
	-webkit-box-shadow: 0 .4rem .5rem rgba(0, 0, 0, 0.03),0 7px 15px -5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 .4rem .5rem rgba(0, 0, 0, 0.03),0 7px 15px -5px rgba(0, 0, 0, 0.15);
	box-sizing: border-box;
	background-color: #fff;
	-webkit-transition: -webkit-transform 100ms ease-in, opacity 200ms ease-in;
	-moz-transition: -moz-transform 100ms ease-in, opacity 200ms ease-in;
	-ms-transition: -ms-transform 100ms ease-in, opacity 200ms ease-in;
	transition: transform 100ms ease-in, opacity 200ms ease-in;
	-webkit-transform: translate(15%, 0%);
	transform: translate(15%, 0%);
	top: 0;
	left: 50%;
}

#entry-relationship-ctn.show > .iframe {
	opacity: 1;
	-webkit-transform: translate(0%, 0%);
	transform: translate(0%, 0%);
}

#entry-relationship-ctn.show > .iframe > iframe {
	opacity: 1;
	display: none;
}

#entry-relationship-ctn > button {
	
}


/**
 * CSS for entry relationship field page customization
 */
html.no-scroll {
	overflow: hidden;
}
body.entry_relationship {
	
}

body.entry_relationship #save-and-new, 
body.entry_relationship #save-and-return,
body.entry_relationship button.delete {
	display: none;
}

