/*
	Copyright: Deux Huit Huit 2014
	License: MIT, see the LICENCE file
*/

/**
 * CSS for entry relationship field
 */
.field-entry_relationship.instance {
	
}

.field-entry_relationship.instance .entry_relationship-field-choices {
	min-height: 20px;
}

.field-entry_relationship.instance label.column.show-associations {
	margin-top: 1.5rem;
}